<%- include("./nav.ejs") %>
<div class="session-container">
  <div class="my-strmo-token-container">
    <h1>My STRMO Token</h1>
    <div class="my-token-info-container">
      <div class="my-token-balance">
        <div class="my-token-balance-info">
          <h5><b>TOKEN BALANCE</b></h5>
          <h3 class="token-balance-info-blue"><b>0 STRMO</b></h3>
          <small>Equivalent to <b>0 USD</b></small>
        </div>
        <button class="main-button" onclick="location.href='/buy-token'">
          Buy More Token
        </button>
      </div>
      <hr />
      <div class="my-token-ammount">
        <h5><b>TOKEN AMMOUNT</b></h5>
        <p><b>0 STRMO</b></p>
        <div class="contributions-grid">
          <div class="currency-box" style="border-color: #f3f3f3">
            <small>Purchase Token</small>
            <h5>0</h5>
          </div>
          <div class="currency-box" style="border-color: #f3f3f3">
            <small>Referal Token</small>
            <h5>0</h5>
          </div>
          <div class="currency-box" style="border-color: #f3f3f3">
            <small>Bonuses Token</small>
            <h5>0</h5>
          </div>
        </div>
      </div>
      <hr />
      <h5><b>TOTAL CONTRIBUTED</b></h5>
      <h4><b>0 USD</b></h4>
    </div>
  </div>
  <div class="side-section">
    <div class="add-wallet">Add your wallet address before you buy</div>
    <div class="lobby-content-section" style="background-color: white">
      <h5><b>Your Account Status</b></h5>
      <div class="account-info-buttons">
        <div class="second-button">Email Verified</div>
        <div class="main-button">Submit KYC</div>
      </div>
      <h5><b>Receiving Wallet</b></h5>
      <div class="account-wallet-info">
        <p>Add Your Wallet Address</p>
        <a href="" class="main-link"><b>ADD</b></a>
      </div>
    </div>
    <div class="lobby-content-section" style="background-color: white">
      <h5><b>Identity Verification</b></h5>
      <p>
        To comply with regulation, participant will have to go through identity
        verification.
      </p>
      <p>
        You have not submitted your documents to verify your identity (KYC).
      </p>
      <button class="main-button">Click to Proceed</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/code.js"></script>
<script type="text/javascript" src="js/navSm.js"></script>
