<link rel="stylesheet" target="_blank" href="css/nav.css" />
<div class="nav">
  <img src="media/strimo-logow.png" alt="" class="logo" />
  <div class="nav-menu-hide-tlf">
    <div class="nav-a-menu">
      <h1 class="close-menu" onclick="smallScreenMenu(false)">X</h1>
      <a
        class="nav-a"
        target="_blank"
        href="https://strimoplatform.medium.com/strimo-streaming-and-ntf-platformtoken-presale-359fb7a87eb1"
        ><h5>Medium</h5></a
      >
      <a class="nav-a" target="_blank" href=""><h5>Donate</h5></a>
      <a class="nav-a" target="_blank" href="/access"><h5>Sign In</h5></a>
    </div>
  </div>
  <div class="nav-button" onclick="smallScreenMenu(true)">
    <img src="/media/nav-button.png" alt="" />
  </div>
</div>
