<div class="overlay">
  <div class="popup-tokens">
    <form class="buscar">
      <div class="pop-token-header">
        <p><b>Select a Token</b></p>
        <div class="close-pop-up">
          <h1>x</h1>
        </div>
      </div>
      <div class="input">
        <input type="text" placeholder="Search name or paste address" />
      </div>
    </form>
    <div class="tokens">
      <div class="token">
        <div class="token-img">
          <img
            src="media/628px-Ethereum_logo_2014.svg.png"
            alt=""
            class="token-logo"
          />
        </div>
        <div class="token-info">
          <p><b>ETH</b></p>
          <small>Ethereum</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img src="media/0xbtc.png" alt="" class="token-logo" />
        </div>
        <div class="token-info">
          <p><b>0xbtc</b></p>
          <small>0xBitcooin</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img src="media/aDAI.png" alt="" class="token-logo" />
        </div>
        <div class="token-info">
          <p><b>Adai</b></p>
          <small>Aaev Dai</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img
            src="628px-Ethereum_logo_2014.svg.png"
            alt=""
            class="token-logo"
          />
        </div>
        <div class="token-info">
          <p><b>ETH</b></p>
          <small>Ethereum</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img src="media/0xbtc.png" alt="" class="token-logo" />
        </div>
        <div class="token-info">
          <p><b>0xbtc</b></p>
          <small>0xBitcooin</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img src="media/aDAI.png" alt="" class="token-logo" />
        </div>
        <div class="token-info">
          <p><b>Adai</b></p>
          <small>Aaev Dai</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img
            src="media/628px-Ethereum_logo_2014.svg.png"
            alt=""
            class="token-logo"
          />
        </div>
        <div class="token-info">
          <p><b>ETH</b></p>
          <small>Ethereum</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img src="media/0xbtc.png" alt="" class="token-logo" />
        </div>
        <div class="token-info">
          <p><b>0xbtc</b></p>
          <small>0xBitcooin</small>
        </div>
      </div>
      <div class="token">
        <div class="token-img">
          <img src="media/aDAI.png" alt="" class="token-logo" />
        </div>
        <div class="token-info">
          <p><b>Adai</b></p>
          <small>Aaev Dai</small>
        </div>
      </div>
    </div>
    <div class="manage">
      <h5><b>Manage</b></h5>
    </div>
  </div>
</div>
